/.vs/
/bin/
/obj/
/publish/
/.trae/
/.idea/
/.cache/
Thumbs.db
*.user
*.lock
*.log
*.tmp
*.DS_Store
Export/
build/
*.exe
*.pdb
*.db
datafiles/*.zip
ShardOfEternisLauncher/bin/
ShardOfEternisLauncher/obj/
ShardOfEternisLauncher/publish/